@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=Fresca');

* {
  margin: 0;
  padding: 0;
}

body{
  //background-color: #243B55;
  overflow: hidden;
}

.pageWrap , .pageContent{
  height: 100vh ;
  width: 100vw;
  background-color: #001825;
}

.header{
  height: 10vh;
  width: 100vw;
  position: relative;
  background-color: #001421;
}

.logo{
  height: 9vh;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  float:left;
  color: White;
  font-family: 'Fresca', sans-serif;
  font-size: 35px;
  font-weight: 400;
  pointer-events: none;
}


.signIn , .signUp{
  height: 20px;
  width: 70px;
  position: relative;
  background-color: transparent;
  color: white;
  font-size: 15px;
  font-family: 'Fira Sans', sans-serif,serif;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
  padding: 10px 20px;
  float: right;
}

.signIn:hover , .signUp:hover{
  cursor: pointer;
  opacity: .5;
  border-bottom: 0px solid white;
  transition: all 0.15s ease-in-out;
}

.signUp {
	margin-top: 11px;
  margin-right: 15px;
}

.signIn{
  margin-top: 11px;
  margin-right: 35px;
}

.content{
  position: relative;
  width: 100vw;
  height: 90vh;
  background-color: #001421;
  background-repeat: round;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

.content-wall{
  position: relative;
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  background: #001421;
  z-index: 0;
  transition: all 1.5s ease-in-out;

}

h1:hover{
  transform: scale(1.1);
  transition: all 5s ease-in-out;
}

h1{
  text-align: center;
  align-self: center;
  font-size: 10vw;
  font-family: 'Fira Sans';
  background: -webkit-linear-gradient(left,#23966c, #faaa54, #e23b4a, #db0768, #360670);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 5s ease-in-out;
}


.menu-toggler{
  position: absolute;
  top: 0px;
  left: 30px;
  height: 50px;
  width: 50px;
  z-index: 1;
  //background: pink;
  display: flex;
  align-items: center;
}

span , span::before , span::after{
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background: white;
  position: relative;
  transition: all 0.3s ease-in-out;
}

span::before{
  top: 15px;
}

span::after{
  top: -17px;
}

#menu-toggle{
  position: absolute;
  display: none;
}

#menu-toggle:checked + .content .content-wall{
  opacity: 0.1;
  transition: all 0.4s ease-in-out;
}

#menu-toggle:checked + .content .menu-toggler span{
  background: transparent;
}

#menu-toggle:checked + .content .menu-toggler span::before ,
#menu-toggle:checked + .content .menu-toggler span::after{
  transform: rotate(45deg);
  transform-origin: center;
  top: 0;
}

#menu-toggle:checked + .content .menu-toggler span::after{
  transform: rotate(-45deg);
}

#menu-toggle:checked + .content .container .row_1 .section_1,
#menu-toggle:checked + .content .container .row_1 .section_2,
#menu-toggle:checked + .content .container .row_1 .section_3,
#menu-toggle:checked + .content .container .row_3 .section_7,
#menu-toggle:checked + .content .container .row_3 .section_8,
#menu-toggle:checked + .content .container .row_3 .section_9,
#menu-toggle:checked + .content .container .row_2 .bigCircle{
  transform: scale(1);
  transition: all 1s cubic-bezier(0, 1.45, 0.94, 0.98);
}

.menu-toggler:hover{
  opacity: 0.6;
  transition: all .3s ease-in-out;
}


.container{
  //background-color: red;
  height: 550px;
  width: 590px;
  position: absolute;
  margin-top: -10px;
  z-index: 0;
}


.row_1 {
  margin: 0;
  //background-color: yellow;
  height: 180px;
  width: 590px;
  opacity: .8;
}

.row_3{
  margin: 0;
  //background-color: blue;
  height: 180px;
  width: 590px;
  opacity: .8;
}

.row_2{
  height: 215px;
  //background-color: green;
}

.section_1 , .section_2 , .section_3 , .section_7 , .section_8
, .section_9{
  height: 180px;
  width: 180px;
  margin-left: 15px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 0;
  position: relative;
  overflow: hidden;
  transform: scale(0);
  transition: all 0.5s cubic-bezier(0.35,-0.27, 0.79,-0.1);
}


.image-bg{
  position: relative;
  -webkit-clip-path: polygon(98.66025% 45%, 99.39693% 46.5798%, 99.84808% 48.26352%,
    100% 50%, 99.84808% 51.73648%, 99.39693% 53.4202%, 98.66025% 55%, 78.66025% 89.64102%,
    77.66044% 91.06889%, 76.42788% 92.30146%, 75% 93.30127%, 73.4202% 94.03794%, 71.73648% 94.48909%,
    70% 94.64102%, 30% 94.64102%, 28.26352% 94.48909%, 26.5798% 94.03794%, 25% 93.30127%, 23.57212% 92.30146%,
    22.33956% 91.06889%, 21.33975% 89.64102%, 1.33975% 55%, 0.60307% 53.4202%, 0.15192% 51.73648%, 0% 50%,
    0.15192% 48.26352%, 0.60307% 46.5798%, 1.33975% 45%, 21.33975% 10.35898%, 22.33956% 8.93111%, 23.57212% 7.69854%,
    25% 6.69873%, 26.5798% 5.96206%, 28.26352% 5.51091%, 30% 5.35898%, 70% 5.35898%, 71.73648% 5.51091%,
    73.4202% 5.96206%, 75% 6.69873%, 76.42788% 7.69854%, 77.66044% 8.93111%, 78.66025% 10.35898%);
    -ms-clip-path: polygon(98.66025% 45%, 99.39693% 46.5798%, 99.84808% 48.26352%,
    100% 50%, 99.84808% 51.73648%, 99.39693% 53.4202%, 98.66025% 55%, 78.66025% 89.64102%,
    77.66044% 91.06889%, 76.42788% 92.30146%, 75% 93.30127%, 73.4202% 94.03794%, 71.73648% 94.48909%,
    70% 94.64102%, 30% 94.64102%, 28.26352% 94.48909%, 26.5798% 94.03794%, 25% 93.30127%, 23.57212% 92.30146%,
    22.33956% 91.06889%, 21.33975% 89.64102%, 1.33975% 55%, 0.60307% 53.4202%, 0.15192% 51.73648%, 0% 50%,
    0.15192% 48.26352%, 0.60307% 46.5798%, 1.33975% 45%, 21.33975% 10.35898%, 22.33956% 8.93111%, 23.57212% 7.69854%,
    25% 6.69873%, 26.5798% 5.96206%, 28.26352% 5.51091%, 30% 5.35898%, 70% 5.35898%, 71.73648% 5.51091%,
    73.4202% 5.96206%, 75% 6.69873%, 76.42788% 7.69854%, 77.66044% 8.93111%, 78.66025% 10.35898%);
    -o-clip-path: polygon(98.66025% 45%, 99.39693% 46.5798%, 99.84808% 48.26352%,
    100% 50%, 99.84808% 51.73648%, 99.39693% 53.4202%, 98.66025% 55%, 78.66025% 89.64102%,
    77.66044% 91.06889%, 76.42788% 92.30146%, 75% 93.30127%, 73.4202% 94.03794%, 71.73648% 94.48909%,
    70% 94.64102%, 30% 94.64102%, 28.26352% 94.48909%, 26.5798% 94.03794%, 25% 93.30127%, 23.57212% 92.30146%,
    22.33956% 91.06889%, 21.33975% 89.64102%, 1.33975% 55%, 0.60307% 53.4202%, 0.15192% 51.73648%, 0% 50%,
    0.15192% 48.26352%, 0.60307% 46.5798%, 1.33975% 45%, 21.33975% 10.35898%, 22.33956% 8.93111%, 23.57212% 7.69854%,
    25% 6.69873%, 26.5798% 5.96206%, 28.26352% 5.51091%, 30% 5.35898%, 70% 5.35898%, 71.73648% 5.51091%,
    73.4202% 5.96206%, 75% 6.69873%, 76.42788% 7.69854%, 77.66044% 8.93111%, 78.66025% 10.35898%);

  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  background-size: 100%;
  transition: all .3s ease-in-out;
}


.text{
  position: absolute;
  font-size: 22px;
  color: white;
  font-family: 'Fira Sans';
  z-index: 2;
  transition: all .3s ease-in-out;
  pointer-events: none;
}

.section_1{
  margin-top: 90px;
}

.section_1 .image-bg{
  background-image: url("../resourses/tutorials.png");
}

.section_1 .text{
  transform: translateX(-200px);
}

.section_2 .image-bg{
  background-image: url("../resourses/creativity.jpg");
}

.section_2 .text{
  text-align: center;
  transform: translateY(-200px);
}
.section_3{
  margin-top: 90px;
}


.section_3 .image-bg{
  background-image: url("../resourses/sec1.jpg");
}

.section_3 .text{
  transform: translateX(200px);
}

.bigCircle{

  height: 215px;
  width: 215px;
  margin-left: 192px;
  position: absolute;
  -webkit-clip-path: polygon(98.66025% 45%, 99.39693% 46.5798%, 99.84808% 48.26352%,
    100% 50%, 99.84808% 51.73648%, 99.39693% 53.4202%, 98.66025% 55%, 78.66025% 89.64102%,
    77.66044% 91.06889%, 76.42788% 92.30146%, 75% 93.30127%, 73.4202% 94.03794%, 71.73648% 94.48909%,
    70% 94.64102%, 30% 94.64102%, 28.26352% 94.48909%, 26.5798% 94.03794%, 25% 93.30127%, 23.57212% 92.30146%,
    22.33956% 91.06889%, 21.33975% 89.64102%, 1.33975% 55%, 0.60307% 53.4202%, 0.15192% 51.73648%, 0% 50%,
    0.15192% 48.26352%, 0.60307% 46.5798%, 1.33975% 45%, 21.33975% 10.35898%, 22.33956% 8.93111%, 23.57212% 7.69854%,
    25% 6.69873%, 26.5798% 5.96206%, 28.26352% 5.51091%, 30% 5.35898%, 70% 5.35898%, 71.73648% 5.51091%,
    73.4202% 5.96206%, 75% 6.69873%, 76.42788% 7.69854%, 77.66044% 8.93111%, 78.66025% 10.35898%);
    -ms-clip-path: polygon(98.66025% 45%, 99.39693% 46.5798%, 99.84808% 48.26352%,
    100% 50%, 99.84808% 51.73648%, 99.39693% 53.4202%, 98.66025% 55%, 78.66025% 89.64102%,
    77.66044% 91.06889%, 76.42788% 92.30146%, 75% 93.30127%, 73.4202% 94.03794%, 71.73648% 94.48909%,
    70% 94.64102%, 30% 94.64102%, 28.26352% 94.48909%, 26.5798% 94.03794%, 25% 93.30127%, 23.57212% 92.30146%,
    22.33956% 91.06889%, 21.33975% 89.64102%, 1.33975% 55%, 0.60307% 53.4202%, 0.15192% 51.73648%, 0% 50%,
    0.15192% 48.26352%, 0.60307% 46.5798%, 1.33975% 45%, 21.33975% 10.35898%, 22.33956% 8.93111%, 23.57212% 7.69854%,
    25% 6.69873%, 26.5798% 5.96206%, 28.26352% 5.51091%, 30% 5.35898%, 70% 5.35898%, 71.73648% 5.51091%,
    73.4202% 5.96206%, 75% 6.69873%, 76.42788% 7.69854%, 77.66044% 8.93111%, 78.66025% 10.35898%);
    -o-clip-path: polygon(98.66025% 45%, 99.39693% 46.5798%, 99.84808% 48.26352%,
    100% 50%, 99.84808% 51.73648%, 99.39693% 53.4202%, 98.66025% 55%, 78.66025% 89.64102%,
    77.66044% 91.06889%, 76.42788% 92.30146%, 75% 93.30127%, 73.4202% 94.03794%, 71.73648% 94.48909%,
    70% 94.64102%, 30% 94.64102%, 28.26352% 94.48909%, 26.5798% 94.03794%, 25% 93.30127%, 23.57212% 92.30146%,
    22.33956% 91.06889%, 21.33975% 89.64102%, 1.33975% 55%, 0.60307% 53.4202%, 0.15192% 51.73648%, 0% 50%,
    0.15192% 48.26352%, 0.60307% 46.5798%, 1.33975% 45%, 21.33975% 10.35898%, 22.33956% 8.93111%, 23.57212% 7.69854%,
    25% 6.69873%, 26.5798% 5.96206%, 28.26352% 5.51091%, 30% 5.35898%, 70% 5.35898%, 71.73648% 5.51091%,
    73.4202% 5.96206%, 75% 6.69873%, 76.42788% 7.69854%, 77.66044% 8.93111%, 78.66025% 10.35898%);
    display: -webkit-flex;
    display: flex;
    display: -ms-flexbox;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family:  'Fira Sans', sans-serif;
  line-height: 1.5;
  background-image: url("../resourses/logo.png");
  background-size: contain;
  transform: scale(0);
  overflow: hidden;
  transition: all .5s cubic-bezier(0.35,-0.27, 0.79,-0.1);
}

.section_7{
  margin-top: -95px;
}

.section_7 .image-bg{
  background-image: url("../resourses/news-feed.jpg");
}

.section_7 .text{
  transform: translateX(200px);
}

.section_8 .image-bg{
  background-image: url("../resourses/venues.jpg");
}

.section_8 .text{
  transform: translateY(200px);
}

.section_9{
  margin-top: -95px;
}

.section_9 .image-bg{
  background-image: url("../resourses/about-us.jpg");
}

.section_9 .text{
  transform: translateX(-200px);
}

.section_2:hover, .section_1:hover , .section_3:hover ,
.section_7:hover , .section_8:hover , .section_9:hover{

  transform: scale(1.1);
  transition: all .3s ease-in-out;

}

.section_2:hover .image-bg, .section_1:hover .image-bg,
.section_3:hover .image-bg.image-bg,.section_7:hover .image-bg,
.section_8:hover .image-bg, .section_9:hover .image-bg{

  background-size: 110%;
  -webkit-filter:blur(2px);
  opacity: .5;
  transition: all .3s ease-in-out;
}

.section_2:hover .text, .section_1:hover .text,
.section_3:hover .text,.section_7:hover .text,
.section_8:hover .text, .section_9:hover .text{


  font-size: 22px;
  transform: translateX(0);
  transition: all .3s cubic-bezier(0.42, 0, 0, 1.18);
}


.loginSection{
  width: 30vw;
  height: 100vh;
  background-color: #192231;
  position: fixed;
  top: 0px;
  right: 0px;
  float: right;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageContent{
  position: relative;
  z-index: 1;
  transform: scale(1);
  transform-origin: left center;
  height: 100%;
  transition: transform 150ms ease-in-out;
}

#sidebarToggler{
  display:none;
}

#sidebarToggler:checked + .pageWrap .pageContent{
    transform: scale(0.65);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    transition: transform 500ms ease-in-out;

  }

.loginWrapper{
  height: 60vh;
  width: 25vw;
  background: rgba(70, 118, 120 , 0.5);
  border-radius: 5px;

}

.headerWrapper{
  height: 20vh;
  width: 25vw;
}

.imageTag{
  height: 14vh;
  width: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;

}

.image{
  height: 14vh;
  width: 14vh;
  border-radius: 7vh;
  background-image: url("../resourses/pic.jpg");
  background-size: cover;
  margin-top: 10px;
  border: #90AEAC solid 1px;
}
.title{
  width: 25vw;
  height: 6vh;
  font-family:  'Fira Sans', sans-serif;
  font-size: 20px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  color: white;
}

.loginDetail{
  width: 25vw;
  height: 40vh;
}

.username , .usernameInput{
  width: 20vw;
  height: 10vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 4vh;
  background-color: #3A6D6E;
}

.usernameInput{
  top: 0px
}

.password , .passwordInput{
  width: 20vw;
  height: 10vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 6vh;
  background-color: #396F6F;
}

.passwordInput{
  top: 0px;
}

.passwordInput , .usernameInput{
  border: None;
  font-size: 18px;
  text-overflow: clip;
  font-family: 'Fira Sans', sans-serif;
  color: white;
}

input::-webkit-input-placeholder{
  color: #90AEAC;
  padding-left: 5px;
}

.loginButton{
  width: 20vw;
  height: 8vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
  color: #255B58;
  font-family:'Fira Sans';
  padding: 0.2em 0;
  font-size: 18px;
  font-weight: 100px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.15 ease-in-out;
}

.loginButton:hover{
  box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.4);
  transition: all 0.15 ease-in-out;

}
