@import url(../fonts/fonts.css);
* {
  margin: 0;
  padding: 0; }

body {
  overflow-x: hidden;
  background-color: #192231; }

.header {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 60px;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #001421; }

.logo {
  position: relative;
  height: 50px;
  width: 180px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: White;
  font-family: 'Fresca', sans-serif;
  font-size: 35px;
  font-weight: 400;
  pointer-events: none; }

.search-box {
  height: 45px;
  width: -webkit-calc((100vw - 180px) * 0.36);
  width: calc((100vw - 180px) * 0.36);
  position: relative;
  float: left;
  background-color: red; }

.search-text {
  height: 45px;
  width: -webkit-calc(100% - 50px);
  width: calc(100% - 50px);
  position: relative;
  float: left;
  border: none;
  font-size: 20px;
  font-family: "Fira Sans",sans-serif;
  background-color: whitesmoke; }

.search-icon {
  height: 45px;
  width: 50px;
  position: relative;
  float: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: "../resourses/search-icon.png";
  background-color: #001421;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #fefefe;
  border-left: 0px;
  -webkit-background-size: 30px 30px;
          background-size: 30px; }

.advanced-search {
  height: 45px;
  width: 150px;
  position: relative;
  float: right;
  font-family: "Patua One",sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid red;
  background-color: green; }

.advanced-search-icon {
  height: 45px;
  width: 30%;
  background-color: red;
  float: left;
  background-image: "../resourses/advanced-search-icon.png";
  background-color: #001421;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-background-size: 30px 30px;
          background-size: 30px; }

.advanced-search-text {
  height: 45px;
  width: 70%;
  float: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 80%;
  padding: 0px 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white; }

#menu-toggle:checked ~ .menu-label .menu-toggler {
  -webkit-transform: translateX(140px);
      -ms-transform: translateX(140px);
          transform: translateX(140px);
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }

#menu-toggle:checked ~ .menu-label .menu-toggler span {
  background: transparent; }

#menu-toggle:checked ~ .menu-label .menu-toggler span::before,
#menu-toggle:checked ~ .menu-label .menu-toggler span::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  top: 0; }

#menu-toggle:checked ~ .menu-label .menu-toggler span::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

#menu-toggle:checked + .slide-menu {
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px); }

#menu-toggle:checked ~ .creative-feed {
  -webkit-transform: translateX(220px);
      -ms-transform: translateX(220px);
          transform: translateX(220px); }

#menu-toggle:checked ~ .right-section {
  -webkit-transform: translateX(220px);
      -ms-transform: translateX(220px);
          transform: translateX(220px); }

.menu-toggler {
  top: 70px;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }

.slide-menu {
  position: fixed;
  width: 220px;
  height: 100vh;
  background: #284150;
  left: 0px;
  top: 60px;
  -webkit-transform: translateX(-220px);
      -ms-transform: translateX(-220px);
          transform: translateX(-220px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out; }

.logo-1, .logo-2, .logo-3, .logo-4, .logo-5, .logo-6 {
  height: 28px;
  width: 28px;
  margin-right: 5px;
  background-image: "../resourses/learn-icon.png";
  -webkit-background-size: cover;
          background-size: cover; }

.logo-2 {
  background-image: "../resourses/creativity-feed-icon.png"; }

.slide-menu .menu-item {
  margin: 3px 10px;
  width: -webkit-calc(100% - 20px);
  width: calc(100% - 20px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px 0 0;
  font-family: 'Fira Sans',sans-serif;
  font-size: 1.2em;
  font-weight: lighter;
  color: white;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.slide-menu .menu-item:first-child {
  margin-top: 60px; }

.horizontal {
  border: #325064 0.5px solid;
  width: 90%;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }

.slide-menu .menu-item:nth-child(6) {
  margin-bottom: 25px; }

.slide-menu .menu-item:nth-child(8) {
  margin-top: 20px; }

.slide-menu .menu-item:hover {
  background-color: rgba(50, 80, 100, 0.9);
  cursor: default; }

, .slide-menu .menu-item:hover .logo-7 {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  -o-transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out; }

.creative-feed {
  position: relative;
  top: 70px;
  height: auto;
  width: -webkit-calc(100vw - 300px);
  width: calc(100vw - 300px);
  margin: 0px 10px 10px 90px;
  float: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fefefe;
  -webkit-box-shadow: -2px 3px 6px rgba(0, 0, 0, 0.6);
          box-shadow: -2px 3px 6px rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.welcome-box {
  position: relative;
  height: 50px;
  width: 476px;
  margin: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .9em;
  font-family: 'Fira Sans',sans-serif;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #e0ebfc; }

.box {
  position: relative;
  height: 300px;
  width: 476px;
  margin: 10px;
  background: #e8f1ff; }

.right-section {
  position: fixed;
  width: 175px;
  height: 1000px;
  background: whitesmoke;
  float: left;
  top: 70px;
  right: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

@media (max-width: 795px) {
  .box {
    width: 95%; }
  .welcome-box {
    width: 95%; } }
