
.menu-toggler{
    position: absolute;
    top: 0px;
    left: 30px;
    height: 25px;
    width: 30px;
    z-index: 1;
    //background: red;
    display: flex;
    align-items: center;
}

span.line , span.line::before , span.line::after{
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background: white;
    position: absolute;
    transition: all 0.4s ease-in-out;
}

span.line::before{
    top: 10px;
}

span.line::after{
    top: -10px;
}

#menu-toggle{
    position: absolute;
    display: none;
}

.menu-toggler:hover{
    opacity: 0.6;
    transition: all .3s ease-in-out;
}
